{% extends "base_generic.html" %}

{% block content %}
<div class="container">
	<div>
		<h1 class="text-center">PMD World Record Tracker</h1>
		<p>This website was developed by <em>Liversticks</em>!</p>
		<p>Number of categories tracked: {{ num_categories }}</p>
		<p>Number of valid categories that contain a time: {{ num_valid_categories }}</p>
	</div>
  
  
  {% if list_of_games %}
	{% for game_title in list_of_games %}
		<h2 class="text-center">{{game_title}}</h2>
		<div class="container">
		<div class="row justify-content-center">
			<div class="col"><em>Category</em></div>
			<div class="col"><em>Ruleset</em></div>
			<div class="col"><em>Time</em></div>
			<div class="col"><em>Runner</em></div>
		</div>
		{% for run in all_runs %}
			<!--Match title and check that run is valid-->
			
			{% if run.game == game_title %}
				
				{% if run.runTime != "" %}
					<div class="row justify-content-center">
						<div class="col">{{ run.category }}</div>
						<div class="col">{{ run.ruleset }}</div>
						<div class="col">{{ run.runTime }}</div>
						<div class="col">
							<a href="https://speedrun.com/user/{{run.playerName}}">{{ run.playerName}}</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
			
		{% endfor %}
		
		</div>
		<br>
	{% endfor %}
  {% else %}
	<p>List of games not working.</p>
  {% endif %}
  

</div>
{% endblock %}